@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
.modal {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  top: -1000px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: scroll;
  padding: 60px 15px;


}
 
.modal_active {
  position: fixed;
  top: 0;
  visibility: visible;
  opacity: 1;
  transition: .3s;
}
.modal__content {
  width: 100%;
  max-width: 600px;
  padding: 50px;
  background: #f9f9f9;
  border-radius: 3px;
  position: relative;
  box-shadow: 0 5px 15px black;
  font-family: Verdana, sans-serif;
}
 
.modal__close-button {
  background: #ff0000;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  background: none;
  cursor: pointer;
  transition: .3s;
  outline: none;
}
 
.modal__close-button:hover {
  transition: .3s;
  transform: rotate(180deg);
}
 
.modal__title {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin: 0 0 15px;
  text-align: center;
  color: #3d3e43;
}
 
.modal__description {
  font-size: 1.125rem;
}

.modal__content p {

 text-align: center;   
}

.modal__content p {
    text-align: center;
    margin: 15px;
  
}
.modal__send-button {
 	background: #6CB71D;
	display: inline-block;
    text-decoration: none;
    
    color: #fff;
    border: 0px solid #6CB71D;
    border-radius: 15px;
    font-size: 15px;
    padding: 10px 10px; 
    transition: all 0.8s ease;   
}
.modal__send-button:hover {
	    text-decoration: none; 
    background: #6CB71D;
    color: #fff;
    border-color: #6CB71D;
}
.modal__send-button-ok {
 	background-image: linear-gradient(to right, #eac2ff , #b9b1ff);
	display: inline-block;
    text-decoration: none;
    
    color: #fff;
    border: 0px solid #006089;
    border-radius: 15px;
    font-size: 15px;
    padding: 10px 10px; 
    transition: all 0.8s ease;   
}
.modal__send-button-ok:hover {
	text-decoration: none; 
    background: #00a8f0;
    color: #fff;
    border-color: #006089;
}
.text-modal {
   display: none; 
}
#tel-message {
 display: block;
 margin: 0 auto;
}
#text-modal-massage {
display: block;
font-family: 'Roboto';
font-style: normal;
font-size: 13px;
color: #777777;
}
#name_connection {
     display: block;
     margin: 0 auto;
}




